    <section id="section-intro" class="section-wrapper about-event">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <p class="lead">
              A PyCon Amazônia reunirá centenas de pessoas durante dois dias para discutir sobre software livre, práticas de desenvolvimento e Python.
            </p>
            <p class="lead">
              Este evento é organizado pela comunidade e para a comunidade. Conheça mais sobre o PyNorte e PyLadies Amazonas. Participe, compartilhe conhecimento e ajude a comunidade a crescer.
            </p>
          </div>
          <div class="col-md-4">
            <address>
              <strong>Instituto Federal do Amazonas - IFAM</strong><br>
              Avenida Sete de Setembro, 1975<br>
              Centro<br>
              Manaus/AM, 69020-120<br>
              (92) 3621-6700
            </address>
          </div>
        </div>
      </div>
    </section>
