<section id="section-intro" class="section-wrapper about-event">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p class="lead">
          A PyCon Amazônia reunirá centenas de pessoas durante dois dias para discutir sobre software livre, práticas de desenvolvimento e Python.
        </p>
        <p class="lead">
          Este evento é organizado pela comunidade e para a comunidade. Conheça mais sobre o PyNorte e PyLadies. Participe, compartilhe conhecimento e ajude a comunidade a crescer.
        </p>
      </div>
      <div class="col-md-4">
        <address>
          <strong>Instituto Federal de Rondônia - IFRO</strong><br>
          Av. Gov. Jorge Teixeira, 3.146<br>
          Industrial<br>
          Porto Velho/RO, 76821-002<br>
          (69) 2182-3815
        </address>
      </div>
      <div align="center">
        <div class="col-md-12">
          <a href="https://pynorte.github.io/pyconamazonia2017-site/" target="_blank">
            <button type="button" class="btn btn-warning btn-lg">1ª PyCon Amazônia - 2017</button>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://pynorte.github.io/pyconamazonia2018-site/" target="_blank">
            <button type="button" class="btn btn-info btn-lg">2ª PyCon Amazônia - 2018</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

