    <section id="section-venue" class="section-wrapper  gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-title">
              <h1>LOCAL</h1>
              <p>Instituto Federal de Educação, Ciência e Tecnologia do Amazonas</p>
              <p>Avenida Sete de Setembro, 1975, Centro, Manaus/AM</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="googleMap">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.85018571195!2d-60.01499228465953!3d-3.134256441318914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x926c057715e51dc1%3A0x131a0659382fadd9!2sInstituto+Federal+de+Educa%C3%A7%C3%A3o%2C+Ci%C3%AAncia+e+Tecnologia+do+Amazonas+-+IFAM+-+Unidade+Centro!5e0!3m2!1spt-BR!2sbr!4v1525457587301"
                frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-12">
            <div class="section-title">
              <h2>STAY INFORMED</h2>
              <p>Don't miss the event!</p>
            </div>
            <form id="contactForm" class="subscribe-form form-inline" action="sendemail.php" method="POST">
              <div class="form-group">
                <label for="emailTwo" class="sr-only">Email</label>
                <input type="email" class="form-control input-lg" required="" id="emailTwo" name="email" placeholder="Enter your email address">
              </div>
              <button type="submit" class="btn btn-primary btn-lg">SUBSCRIBE</button>
            </form>
          </div>
        </div> -->
      </div>
    </section>
