    <section id="section-papers" class="section-wrapper pricing-section">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="section-title">
                <h1>SUBMETA SUA PALESTRA</h1>
                <p>Participe da conferência como palestrante e compartilhe conhecimento!</p>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="text-center">
              <a href="https://speakerfight.com/events/pycon-amazonia-2018/">
                Envie sua proposta!
              </a>
            </h2>  
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-sm-4">
            <div class="pricing-table-default text-center">
              <div class="pricing-head">
                <h3>Early-bird PASS</h3>
                <span class="price"><sup>$</sup>100</span>
              </div>
                <div class="pricing-detail">
                  <ul class="pricing-list pink-i">
                    <li>Main keynote speeches</li>
                    <li>Access to all areas</li>
                    <li>Lunch on day 1</li>
                  </ul>
                </div>
                <a href="#" class="btn btn-primary">BUY TICKET</a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="pricing-table-default text-center">
              <div class="pricing-head">
                <h3>ULTIMATE PASS</h3>
                <span class="price"><sup>$</sup>150</span>
              </div>
              <div class="pricing-detail">
                <ul class="pricing-list pink-i">
                  <li>Main keynote speeches</li>
                  <li>Access to all areas</li>
                  <li>Lunch on day 1</li>
                </ul>
              </div>
              <a href="#" class="btn btn-primary">BUY TICKET</a>
            </div>
          </div>
          <div class="col-sm-4">
              <div class="pricing-table-default text-center">
                <div class="pricing-head">
                  <h3>PLATINUM</h3>
                  <span class="price"><sup>$</sup>250</span>
                </div>
                <div class="pricing-detail">
                  <ul class="pricing-list pink-i">
                    <li>Main keynote speeches</li>
                    <li>Access to all areas</li>
                    <li>Lunch on day 1</li>
                  </ul>
                </div>
                <a href="#" class="btn btn-primary">BUY TICKET</a>
              </div>
          </div>
        </div> -->
      </div>
    </section>