    <section id="section-papers" class="section-wrapper pricing-section">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="section-title">
                <h1>SUBMETA SUA PALESTRA</h1>
                <p>Participe da conferência como palestrante e compartilhe conhecimento!</p>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="text-center">
              <a target="_blank" href="https://speakerfight.com/events/3a-pycon-amazonia-2019-porto-velhoro/">
                Envie sua proposta!
              </a>
            </h2>
          </div>
        </div>
      </div>
    </section>
