<section id="section-schedule" class="section-wrapper section-ajenda gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h1>PROGRAMAÇÃO</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center">Provisória</h2>

        <div class="table-responsive">
          <table class="table">

            <thead>
            <tr>
              <th scope="col">Dia</th>
              <th scope="col">Hora</th>
              <th scope="col">Evento</th>
              <th scope="col">Dia</th>
              <th scope="col">Hora</th>
              <th scope="col">Evento</th>
            </tr>
            </thead>
            <tbody>


            <tr>
              <th scope="row">3</th>
              <td>8h - 8h45 </td>
              <td>Credenciamento / Recepção </td>
              <th scope="row">4</th>
              <td>8h - 8h45 </td>
              <td>Credenciamento / Recepção </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>8h45 - 9h </td>
              <td> Abertura</td>
              <th scope="row">4</th>
              <td>8h45 - 9h </td>
              <td> Abertura</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>9h - 10h15 </td>
              <td>Keynote </td>
              <th scope="row">4</th>
              <td>9h - 10h15 </td>
              <td>Keynote </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>10h15 - 10h45 </td>
              <td>Coffee break </td>
              <th scope="row">4</th>
              <td>10h15 - 10h45 </td>
              <td>Coffee break </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>10h45 - 12h </td>
              <td>Continuação e encerramento manhã </td>
              <th scope="row">4</th>
              <td>10h45 - 12h  </td>
              <td>Continuação e encerramento manhã </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>14h30 - 15h30 </td>
              <td>Palestras / Tutoriais </td>
              <th scope="row">4</th>
              <td>14h30 - 15h30 </td>
              <td>Palestras / Tutoriais </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>15h30 - 16h </td>
              <td>Coffee break </td>
              <th scope="row">4</th>
              <td>15h30 - 16h </td>
              <td>Coffee break </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>16h - 18h </td>
              <td>Palestras / Tutoriais </td>
              <th scope="row">4</th>
              <td>16h - 18h </td>
              <td>Sprints </td>
            </tr>




            </tbody>
          </table>

          <hr>

          <div class="table-responsive">
            <table class="table">

              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Data</th>
                <th scope="col">Hora</th>
                <th scope="col">Título</th>
                <th scope="col">Por</th>
                <th scope="col">Local</th>
                <th scope="col">Status</th>
              </tr>
              </thead>
              <tbody>


              <tr>
                <th scope="row">1</th>
                <td> Dia 3</td>
                <td> manhã </td>
                <td> <b>Redes neuronais do zero com python  </b> </td>
                <td> <a target="_blank" href="https://speakerfight.com/events/3a-pycon-amazonia-2019-porto-velhoro/">
                  Clayton Guimarães C. Santos  </a>
                </td>
                <td>Auditório</td>
                <td class="text-success "><b>Confirmada</b></td>
              </tr>


              <tr>
                <th scope="row">2</th>
                <td> Dia 3</td>
                <td> tarde </td>
                <td> <b> Classe não é tabela: como está o paradigma da Orientação à Objetos </b> </td>
                <td> <a target="_blank" href="https://speakerfight.com/events/3a-pycon-amazonia-2019-porto-velhoro/">
                  José Avani das Chagas Júnior </a>
                </td>
                <td>Auditório</td>
                <td class="text-success "><b>Confirmada</b></td>
              </tr>


              <tr>
                <th scope="row">3</th>
                <td> Dia 3</td>
                <td> tarde </td>
                <td> <b> Indústria 4.0: Como isso irá transformar nossas vidas? </b> </td>
                <td> <a target="_blank" href="https://speakerfight.com/events/3a-pycon-amazonia-2019-porto-velhoro/">
                  Maico Moreira </a>
                </td>
                <td>Auditório</td>
                <td class="text-success "><b>Confirmada</b></td>
              </tr>


              <tr>
                <th scope="row">4</th>
                <td> Dia 3</td>
                <td> tarde </td>
                <td> <b>Python na Programação Competitiva  </b> </td>
                <td> <a target="_blank" href="http://www.sylviot.com">
                  Sylvio Tavares  </a>
                </td>
                <td>Auditório</td>
                <td class="text-success "><b>Confirmada</b></td>
              </tr>


              <tr>
                <th scope="row">5</th>
                <td> Dia 4</td>
                <td> manhã </td>
                <td> <b>Python para todos os dispositivos! </b>  </td>
                <td> <a target="_blank" href="http://www.miguelzamberlan.com.br">
                  Miguel Zamberlan  </a>
                </td>
                <td>Auditório</td>
                <td class="text-success "><b>Confirmada</b></td>
              </tr>


              <tr>
                <th scope="row">6</th>
                <td> Dia 4</td>
                <td> tarde </td>
                <td> <b>Data scientist: The sexiest job that you've likely never heard of  </b> </td>
                <td> <a target="_blank" href="https://www.rondonia.fiocruz.br/">
                  Moreno MS Rodrigues  </a>
                </td>
                <td>Auditório</td>
                <td class="text-success "><b>Confirmada</b></td>
              </tr>


              <tr>
                <th scope="row">7</th>
                <td> Dia 3 ou 4</td>
                <td> - - - </td>
                <td> De código para código: python, pandas e a inferência estatística no Direito   </td>
                <td> <a target="_blank" href="https://speakerfight.com/events/3a-pycon-amazonia-2019-porto-velhoro/">
                  Edson Pinto   </a>
                </td>
                <td>Auditório</td>
                <td>À confirmar</td>
              </tr>

              <tr>
                <th scope="row">8</th>
                <td> Dia 3 ou 4</td>
                <td> - - - </td>
                <td> Sinapses - Inteligência artificial aplicada no TJRO   </td>
                <td> <a target="_blank" href="https://speakerfight.com/events/3a-pycon-amazonia-2019-porto-velhoro/">
                  Cleiton Augusto e Felipe Colen   </a>
                </td>
                <td>Auditório</td>
                <td>À confirmar</td>
              </tr>


              <tr>
                <th scope="row">9</th>
                <td> Dia 3 ou 4</td>
                <td> - - - </td>
                <td> Filósofo e Pythonista: Como a programação foi capaz de revolucionar a minha forma de trabalhar   </td>
                <td> <a target="_blank" href="https://speakerfight.com/events/3a-pycon-amazonia-2019-porto-velhoro/">
                  Vicente Marçal   </a>
                </td>
                <td>Auditório</td>
                <td>À confirmar</td>
              </tr>


              <tr>
                <th scope="row">10</th>
                <td> Dia 3 ou 4</td>
                <td> - - - </td>
                <td> Python + Criptografia: Guia prático para iniciar sua aplicação   </td>
                <td> <a target="_blank" href="https://speakerfight.com/events/3a-pycon-amazonia-2019-porto-velhoro/">
                  Ewerton R. Andrade </a>
                </td>
                <td>Auditório</td>
                <td>À confirmar</td>
              </tr>

              <tr>
                <th scope="row">11</th>
                <td> Dia 3 ou 4</td>
                <td> - - - </td>
                <td> Python e a Bolsa de Valores   </td>
                <td> <a target="_blank" href="https://speakerfight.com/events/3a-pycon-amazonia-2019-porto-velhoro/">
                  Claudius S Ramos   </a>
                </td>
                <td>Auditório</td>
                <td>À confirmar</td>
              </tr>

              <tr>
                <th scope="row">12</th>
                <td> Dia 3 ou 4</td>
                <td> - - - </td>
                <td> [Tutorial] Conceituando e criando uma RESTful API com Django e Django Rest Framework   </td>
                <td> <a target="_blank" href="https://speakerfight.com/events/3a-pycon-amazonia-2019-porto-velhoro/">
                  Vicente Marçal  </a>
                </td>
                <td>Auditório</td>
                <td>À confirmar</td>
              </tr>


              <tr>
                <th scope="row">13</th>
                <td> Dia 3 ou 4</td>
                <td> - - - </td>
                <td>Criando um chatbot com Python e Dialogflow (Google)</td>
                <td> <a target="_blank" href="https://speakerfight.com/events/3a-pycon-amazonia-2019-porto-velhoro/">
                  Felipe Colen  </a>
                </td>
                <td>Auditório</td>
                <td>À confirmar</td>
              </tr>



              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
