    <section id="section-speaker" class="section-wrapper team gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-title">
              <h1>KEYNOTES</h1>
            </div>
          </div>
        </div>
          <div class="row">
            <div class="col-sm-6 col-md-3">
              <figure class="thumbnail">
                <a href="#"><img src="images/keynote_eduardo.jpg" class="img-responsive" alt="Image"></a>
                <figcaption class="caption text-center">
                  <h3>Eduardo Mendes</h3>
                  <p>
                    Apto fazedor de lambdas, apaixonado por software livre e ciência.
                  </p>
                  <ul class="social-links">
                    <li><a href="#"><i class="fa fa-twitter"></i>@dunossauro</a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i>@eduardomendes</a></li>
                    <li><a href="#"><i class="fa fa-github"></i>@dunossauro</a></li>
                    <li><a href="#"><i class="fa fa-gitlab"></i>@dunossauro</a></li>
                  </ul>

                </figcaption>
              </figure>
            </div>
          </div>
      </div>
    </section>
