<section id="section-partner" class="section-wrapper client-logo">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h1>APOIADORES</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center">Seja um apoiador também!</h2>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
        <a href="https://www.ifro.edu.br/zona-norte" target="_blank">
          <img src="{{ SITEURL }}/images/logo-ifro-hz.png" alt="IFRO Zona Norte" >
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
        <a href="https://www.youtube.com/c/eduardomendes" target="_blank">
          <img src="{{ SITEURL }}/images/logo-live-py.png" alt="Live de Python" >
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
        <a href="https://www.python.pro.br/" target="_blank">
          <img src="{{ SITEURL }}/images/logo-py-pro.png" alt="Python Pro" >
        </a>
      </div>

    </div>
  </div>
  <!--end of .container -->
</section>
