    <section id="section-partner" class="section-wrapper client-logo">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-title">
              <h1>PATROCINADORES</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="text-center">Seja um patrocinador!</h2>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
            <a href="#"><img src="img/logo-client-1.jpg" alt="Image"></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
            <a href="#"><img src="img/logo-client-2.jpg" alt="Image"></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
            <a href="#"><img src="img/logo-client-3.jpg" alt="Image"></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
            <a href="#"><img src="img/logo-client-4.jpg" alt="Image"></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
            <a href="#"><img src="img/logo-client-5.jpg" alt="Image"></a>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
            <a href="#"><img src="img/logo-client-6.jpg" alt="Image"></a>
          </div>
        </div> -->
      </div>
      <!--end of .container -->
    </section>