    <header class="header">
      <nav class="navbar main-menu" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img src="{{ SITEURL }}/images/logo-gray.svg" alt="" width="30%"></a>
          </div>
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
              <li class="hidden"><a href="#page-top"></a></li>
              <li><a class="page-scroll" href="#section-intro">Sobre</a></li>
              <li><a class="page-scroll" href="#section-speaker">Keynotes</a></li>
              <li><a class="page-scroll" href="#section-papers">Call4Papers</a></li>
              <li><a class="page-scroll" href="#section-schedule">Programação</a></li>
              <li><a class="page-scroll" href="#section-partner">Apoiadores</a></li>
              <li><a class="page-scroll" href="#section-venue">Local</a></li>
              <li><a class="page-scroll" href="#section-hoteis">Hospedagem</a></li>
              {# <li><a class="page-scroll" href="#section-team">Organização</a></li> #}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="jumbotron text-center">
      <div style="width: 100%; height: 100%; background: rgba(14,80,85, 0.75);"></div>
      <div class="content">
        <div class="event-date"><b>Realizada nos dias 3 e 4 de agosto, Porto Velho/RO</b></div>
        <h1>PYCON AMAZÔNIA 2019</h1>
        <p class="lead"><b>3ª Conferência da Comunidade Python no Norte do Brasil</b></p>
        <p class="lead">
          <b>
            <b style="color: yellowgreen">90</b> pessoas muito legais, de 7 estados, compareceram ao evento!!!
            <br />Representando a região norte recebemos: Acre, Amazonas, Rondônia e Roraima.
            <br />Do restante do Brasilzão: Mato Grosso, São Paulo e Paraná.
         </b>
        </p>


{#        <a href="https://www.eventbrite.com.br/e/3a-pycon-amazonia-porto-velhoro-tickets-62957486537" target="_blank">#}
{#          <button type="button" class="btn btn-success btn-lg" disabled>Quero me inscrever agora!</button>#}
{#        </a>#}
{##}
{#        <br />#}
{##}
{#        <a href="https://speakerfight.com/events/3a-pycon-amazonia-2019-porto-velhoro/" target="_blank">#}
{#          <button type="button" class="btn btn-warning btn-lg" disabled>Quero palestrar!</button>#}
{#        </a>#}
{##}
{#        <a href="http://vaka.me/635040" target="_blank">#}
{#          <button type="button" class="btn btn-primary btn-lg" disabled>Quero contribuir R$ !</button>#}
{#        </a>#}

      </div>
    </div>
